version: '2'

services:
  nginx:
    image: bitnami/nginx:1.19-debian-10
    restart: always
    environment:
      VIRTUAL_HOST: nginx.9.112.249.39.xip.io
      VIRTUAL_PORT: 8080
    #ports:
    #  - 2018:80
    volumes:
      #- ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./public_html:/app
networks:
  default:
    external:
      name: devops-xip        
